backend/FussyBackEnd/.vs/
backend/FussyBackEnd/src/FussyBackEnd/obj/
backend/FussyBackEnd/src/ussyBackEnd/bin/
/packages/
!packages/repositories.config
backend/FussyBackEnd/packages/
backend/FussyBackEnd/src/backend/FussyBackEnd/wwwroot/lib/
backend/FussyBackEnd/src/backend/FussyBackEnd/project.lock.json
app/.idea/
.idea/
